<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card">
          <h4 class="card-header p-4">Patient Lists</h4>
          <div class="row justify-content-end align-items-center my-2">
            <div class="col-md-3">
              <form class="d-flex">
                <button
                  class="btn btn-soft-primary h-10 px-2 p-1 btn-outline-success mr-2"
                  type="submit"
                >
                  Search
                </button>
                <input
                  class="form-control me-2 h-10"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
              </form>
            </div>
          </div>
          <div class="p-4 table-responsive">
            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Mobile Number</th>
                  <th scope="col">Email</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>test</td>
                  <td>test</td>
                  <td>test</td>
                  <td class="options-td" *ng-if="patientlist.name == ''">
                    <button class="btn-sm btn-danger options-btns">
                      Cancel
                    </button>
                    <button class="btn-sm btn-success options-btns">
                      Confirm
                    </button>
                    <button class="btn-sm btn-warning options-btns">
                      Reschedule
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
