<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card">
          <h4 class="card-header p-4">Report Delivered Tests</h4>
          <div class="row justify-content-end align-items-center my-2">
            <div class="col-md-3">
              <form class="d-flex">
                <button
                  class="btn btn-soft-primary h-10 px-2 p-1 btn-outline-success mr-2"
                  type="submit"
                >
                  Search
                </button>
                <input
                  class="form-control me-2 h-10"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
              </form>
            </div>
          </div>
          <div class="p-4 table-responsive">
            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Mobile Number</th>
                  <th scope="col">Test Type</th>
                  <th scope="col">Reg Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>
                    <a
                      routerLink="../appointment-view-details"
                      class="btn-primary btn-sm text-white"
                      >View Details</a
                    >
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>
                    <a
                      routerLink="../appointment-view-details"
                      class="btn-primary btn-sm text-white"
                      >View Details</a
                    >
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>
                    <a
                      routerLink="../appointment-view-details"
                      class="btn-primary btn-sm text-white"
                      >View Details</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- VIEW DETAILS SECTION  -->
  <section class="router-section">
    <router-outlet></router-outlet>
  </section>
</div>
