<!-- HEADER  -->
<app-header></app-header>
<!-- Main Start -->
<main id="dc-main" class="dc-main dc-haslayout mt-4">
  <!-- About Welcome Start -->
  <div class="dc-haslayout dc-main-section pt-0">
    <!-- User Listing Start-->
    <div class="container">
      <div class="row">
        <div id="dc-twocolumns" class="dc-twocolumns dc-haslayout">
          <div
            class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 float-left"
          >
            <!-- <div class="dc-docsingle-header">
              <figure class="dc-docsingleimg">
                <img
                  src="{{ doctor_detail.full_image }}"
                  onError="this.src='assets/images/doctors/img-04.jpg';"
                  alt="img description"
                />
                <figcaption>
                  <span class="dc-featuredtag"><i class="fa fa-bolt"></i></span>
                </figcaption>
              </figure>
              <div class="dc-docsingle-content">
                <div class="dc-title">
                  <a href="javascript:void(0)" class="dc-docstatus">{{
                    doctor_detail.cat_name
                  }}</a>
                  <h2>
                    <a href="javascript:void(0);"
                      >Dr.{{ doctor_detail.doc_name }}</a
                    >
                    <i class="fa fa-award dc-awardtooltip"
                      ><em>Medical Registration Verified</em></i
                    >
                    <i class="fa fa-check-circle dc-awardtooltip"
                      ><em>Medical Registration Verified</em></i
                    >
                  </h2>
                  <ul class="dc-docinfo">
                    <li>
                      <em
                        *ngFor="
                          let de of doctor_detail.degree_details;
                          let i = index
                        "
                        >{{ de.degree_name }},</em
                      >
                    </li>
                    <li>
                      <span class="dc-stars"><span></span></span>
                    </li>
                  </ul>
                  <a href="javascript:void(0);" class="dc-like"
                    ><i class="fa fa-heart"></i
                  ></a>
                </div>

                <div class="dc-btnarea">
                  <a
                    href="javascript:void(0);"
                    class="dc-btn"
                    data-toggle="modal"
                    data-target="#feedbackmodal"
                    >Add Feedback</a
                  >
                  <a
                    href="javascript:void(0);"
                    class="dc-btn"
                    data-toggle="modal"
                    data-target="#appointment"
                    >Book Now</a
                  >
                </div>
              </div>
            </div> -->
            <!--  <div class="dc-docsingle-holder">
              <ul class="dc-navdocsingletab nav navbar-nav">
                <li class="nav-item">
                  <a
                    id="userdetails-tab"
                    class="active show"
                    data-toggle="tab"
                    href="#userdetails"
                    >User Details</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    id="consultation-tab"
                    data-toggle="tab"
                    href="#consultation"
                    >Membership</a
                  >
                </li>
                <li class="nav-item">
                  <a id="feedback-tab" data-toggle="tab" href="#feedback"
                    >Field of Expertise</a
                  >
                </li>
                <li class="nav-item">
                  <a id="articles-tab" data-toggle="tab" href="#articles"
                    >Fellowship & Awards</a
                  >
                </li>
              </ul>
              <div class="tab-content dc-haslayout">
                <div
                  class="dc-contentdoctab dc-userdetails-holder tab-pane fade active show"
                  id="userdetails"
                ></div>
                <div
                  class="dc-contentdoctab dc-consultation-holder tab-pane"
                  id="consultation"
                >
                  <div class="dc-consultation">
                    <div class="">
                      <div class="dc-title">
                        <h4>“Dr. Anurag Saxena” memberships</h4>
                      </div>
                      <div class="mt-2">
                        <ul class="dc-specializationslist d-block">
                          <li>
                            <span
                              >Society of British Neurological Surgeries</span
                            >
                          </li>
                          <li>
                            <span
                              >Royal College of Surgeries of Edinburgh
                              (U.K)</span
                            >
                          </li>
                          <li><span>Neurological Society of India</span></li>
                          <li><span>Delhi Neurological Association</span></li>
                          <li>
                            <span
                              >Indian Society of Paediatric Neurosurgery</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="dc-contentdoctab dc-feedback-holder tab-pane"
                  id="feedback"
                >
                  <div class="dc-title">
                    <h4>“Dr. Anurag Saxena” Field of Expertise</h4>
                  </div>
                  <div class="mt-2">
                    <ul class="dc-specializationslist d-block">
                      <li><span>Micro-neurosurgery</span></li>
                      <li><span>Minimally invasive brain surgeries</span></li>
                      <li><span>Minimally invasive spine surgeries</span></li>
                      <li>
                        <span
                          >Hydrocephalus treatment (Endoscopic and CSF
                          diversion)</span
                        >
                      </li>
                      <li>
                        <span
                          >Paediatric neurosurgery (brain, spine and CVJ
                          craniofacial)</span
                        >
                      </li>
                      <li>
                        <span>Neuro-Oncology (brain and spine tumours)</span>
                      </li>
                      <li><span>Cerebrovascular Surgeries</span></li>
                      <li><span>Functional & complex spine surgeries</span></li>
                      <li><span>Motion preservation spine surgeries</span></li>
                      <li><span>Endoscopic brain surgeries</span></li>
                      <li><span>Endoscopic spine surgeries</span></li>
                      <li><span>Skull base neurosurgery</span></li>
                      <li><span>Peripheral nerve surgeries</span></li>
                      <li><span>Pain management</span></li>
                      <li><span>Trigeminal Neuralgia</span></li>
                    </ul>
                  </div>
                </div>
                <div
                  class="dc-contentdoctab dc-articles-holder tab-pane"
                  id="articles"
                >
                  <div class="dc-title">
                    <h4>“Dr. Anurag Saxena” Fellowship & Awards</h4>
                  </div>
                  <div class="mt-2">
                    <ul class="dc-specializationslist d-block">
                      <li>
                        <span
                          >Fellowship in Spine surgery, Lancashire Teaching
                          Hospital, Preston (UK)</span
                        >
                      </li>
                      <li>
                        <span
                          >Fellowship in Paediatric Neurosurgery, Royal
                          Liverpool Alde Hey Children's Hospital. Liverpool
                          (U.K)</span
                        >
                      </li>
                      <li>
                        <span
                          >Fellowship in Neurosurgery, Royal College of Surgeons
                          of Edinburgh (U.K)</span
                        >
                      </li>
                      <li>
                        <span
                          >Senior Clinical Fellow Neurosurgery, University
                          Hospital of Wales, Cardiff, U.K</span
                        >
                      </li>
                      <li>
                        <span
                          >Research work published as original research article
                          by British Journal Neurosurgery</span
                        >
                      </li>
                      <li>
                        <span
                          >"Excellence in Health Care Award” in Neurosurgery
                          2018</span
                        >
                      </li>
                      <li>
                        <span
                          >Expert Panel for neurosurgery- Educational Society of
                          Bedside Intensive Care Medicine (ESBICM)</span
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="dc-shareprofile">
              <ul class="dc-simplesocialicons dc-socialiconsborder">
                <li class="dc-facebook">
                  <a href="javascript:void(0);"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li class="dc-instagram">
                  <a href="javascript:void(0);"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li class="dc-twitter">
                  <a href="javascript:void(0);"
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li class="dc-linkedin">
                  <a href="javascript:void(0);"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </li>
                <li class="dc-youtube">
                  <a href="javascript:void(0);"
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
              </ul>
            </div> -->
            <div class="dc-docpostcontent row justify-content-between">
              <div class="col-md-3">
                <figure class="dc-docpostimg">
                  <img src="" alt="img description" />
                  <figcaption>
                    <span class="dc-featuredtag"
                      ><i class="fa fa-bolt"></i
                    ></span>
                  </figcaption>
                </figure>
                <div class="dc-title">
                  <a href="javascript:void(0)" class="dc-docstatus"
                    >Private Clinic</a
                  >
                  <h3>
                    <a href="javascript:void(0);"
                      >Smiles Multispeciality Clinic
                    </a>
                    <i class="fa fa-award dc-awardtooltip"
                      ><em>Medical Registration Verified</em></i
                    >
                    <i class="fa fa-check-circle dc-awardtooltip"
                      ><em>Medical Registration Verified</em></i
                    >
                  </h3>
                  <ul class="dc-docinfo">
                    <li>
                      <em>test</em>
                    </li>
                    <li>
                      <span class="dc-stars"><span></span></span><em>test</em>
                    </li>
                  </ul>
                </div>
                <div class="dc-tags">
                  <ul>
                    <li *ngFor="let ser; of">
                      <a href="javascript:void(0);">test</a>
                    </li>
                    <!-- <li>
                      <a href="javascript:void(0);">Conservative Dentistry</a>
                    </li> -->
                    <!-- <li>
                      <a href="javascript:void(0);">Crowns Fixing</a>
                    </li> -->
                    <!-- <li>
                      <a href="javascript:void(0);">Endosurgery</a>
                    </li> -->
                    <!-- <li>
                      <a href="javascript:void(0);"
                        >Fixed Partial Denture (FPD)</a
                      >
                    </li> -->
                    <!-- <li>
                      <a href="javascript:void(0);" class="dc-tagviewall"
                        >View all</a
                      >
                    </li> -->
                  </ul>
                </div>
              </div>
              <div
                class="dc-doclocation dc-doclocationvtwo col-md-9 align-self-center"
              >
                <!-- <span  *ngFor="let item of doctorService; let i = index"><i class="ti-direction-alt"></i> Mode: {{ item.mode }}
                <span
                  ><i class="ti-calendar"></i> productDesc: {{ item.productDesc }}</span
                >
                <span><i class="ti-thumb-up"></i>price: {{ item.price | currency: "INR" }}</span>
                <span><i class="ti-wallet"></i> address: {{ item.service.address }}</span>
                <span
                  ><i class="ti-calendar"></i>
                  available_days: {{ item.service.available_days }}</span
                >
                <span
                  ><i class="ti-calendar"></i>
                  consultationTime: {{ item.service.consultationTime }}</span
                >
                <span
                  ><i class="ti-calendar"></i>
                  name: {{ item.service.name }}</span
                >
                <span
                  ><i class="ti-calendar"></i>
                  needApproval: {{ item.service.needApproval }}</span
                >
               
              </span>
              <div class="dc-btnarea">
                <a href="javascript:void(0);" class="dc-btn">Book Now</a>
                <a href="javascript:void(0);" class="dc-like dc-liked"
                  ><i class="fa fa-heart"></i
                ></a>
              </div> -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="doc-detail-table-head">
                      <tr>
                        <th scope="col">Mode</th>
                        <th scope="col">productDesc</th>
                        <th scope="col">price</th>
                        <th scope="col">address</th>
                        <th scope="col">AvailableDays</th>
                        <th scope="col">consultationTime</th>
                        <th scope="col">name</th>
                        <th scope="col">needApproval</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="doc-detail-table-row" *ngFor="let item; of">
                        <td>{{ item.mode }}</td>
                        <td>{{ item.productDesc }}</td>
                        <td>{{ item.price | currency: "INR" }}</td>
                        <td>{{ item.service.address }}</td>
                        <td>{{ item.service.available_days }}</td>
                        <td>{{ item.service.consultationTime }}</td>
                        <td>{{ item.service.name }}</td>
                        <td>{{ item.service.needApproval }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!--  <div
            class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 float-left"
          >
            <aside
              id="dc-sidebar"
              class="dc-sidebar dc-sidebar-grid float-left mt-xl-0"
            >
              <div class="dc-widget dc-onlineoptions">
                <figure class="dc-onlinuserimg">
                  <img src="assets/images/doctors/img-11.jpg" />
                  <figcaption><span>Live</span></figcaption>
                </figure>
                <div class="dc-onlineoption-content">
                  <div class="dc-title">
                    <h3><span>Stop Waiting in Queue</span> Ask Query Online</h3>
                  </div>
                  <div class="dc-btnarea">
                    <a href="javascript:void(0);" class="dc-btn dc-btnactive"
                      >Book Audio / Video Call</a
                    >
                    <span>50,000+<em>Consultation Served </em></span>
                  </div>
                </div>
              </div>
            </aside>
          </div> -->
        </div>
      </div>
      <div class="table-responsive mt-5">
        <!-- <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">S</th>
              <th scope="col">Mode</th>
              <th scope="col">productDesc</th>
              <th scope="col">price</th>
              <th scope="col">address</th>
              <th scope="col">available_days</th>
              <th scope="col">consultationTime</th>
              <th scope="col">name</th>
              <th scope="col">needApproval</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of doctorService; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.mode }}</td>
              <td>{{ item.productDesc }}</td>
              <td>{{ item.price | currency: "INR" }}</td>
              <td>{{ item.service.address }}</td>
              <td>{{ item.service.available_days }}</td>
              <td>{{ item.service.consultationTime }}</td>
              <td>{{ item.service.name }}</td>
              <td>{{ item.service.needApproval }}</td>
            </tr>
          </tbody>
        </table> -->
      </div>
    </div>
    <!-- User Listing End-->
  </div>
  <!-- Emerging Clients End -->
</main>
<!-- Main End -->
<!-- FOOTER  -->
<app-footer></app-footer>
