<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6 grid-margin">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <h5
              class="card-header d-flex justify-content-between align-items-center flex-wrap p-3"
            >
              Appointment Setting
              <a href="#" class="btn btn-primary">Add/Update Location</a>
            </h5>

            <div class="p-4">
              <p>Days, I offer my services</p>

              <div class="mt-4">
                <div class="accordion" id="accordionExample">
                  <!-- ACCORDIAN 1  -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="HeadingOne">
                      <button
                        class="accordion-button justify-content-between p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#A"
                        aria-expanded="true"
                        aria-controls="A"
                      >
                        <h6>Monday</h6>
                        <div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 10px"
                            class="btn btn-success btn-sm mr-3"
                            ><i class="ti-pencil"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="A"
                      class="accordion-collapse collapse"
                      aria-labelledby="HeadingOne"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row mt-4">
                          <div class="d-flex justify-content-end flex-wrap">
                            <div class="mr-1">
                              <button
                                class="btn-primary btn"
                                style="padding: 5px 13px"
                              >
                                Add More
                              </button>
                            </div>
                            <div class="ml-1">
                              <button
                                class="btn-danger btn"
                                style="padding: 5px 13px"
                              >
                                Delete All
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p>Add New Slot:</p>
                          <div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Start Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>End Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Intervals</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Durations</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <div class="row p-2">
                              <p>Assign Appointment Spaces:</p>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    01
                                  </label>
                                </div>
                              </div>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    02
                                  </label>
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div>
                                  <input
                                    type="text"
                                    placeholder="Others"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button
                              class="btn btn-primary"
                              style="padding: 10px 20px"
                            >
                              Add Now
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ACCORDIAN 2  -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="HeadingTwo">
                      <button
                        class="accordion-button justify-content-between p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#B"
                        aria-expanded="true"
                        aria-controls="B"
                      >
                        <h6>Tuesday</h6>
                        <div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 10px"
                            class="btn btn-success btn-sm mr-3"
                            ><i class="ti-pencil"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="B"
                      class="accordion-collapse collapse"
                      aria-labelledby="HeadingTwo"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row mt-4">
                          <div class="d-flex justify-content-end flex-wrap">
                            <div class="mr-1">
                              <button
                                class="btn-primary btn"
                                style="padding: 5px 13px"
                              >
                                Add More
                              </button>
                            </div>
                            <div class="ml-1">
                              <button
                                class="btn-danger btn"
                                style="padding: 5px 13px"
                              >
                                Delete All
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p>Add New Slot:</p>
                          <div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Start Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>End Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Intervals</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Durations</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <div class="row p-2">
                              <p>Assign Appointment Spaces:</p>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    01
                                  </label>
                                </div>
                              </div>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    02
                                  </label>
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div>
                                  <input
                                    type="text"
                                    placeholder="Others"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button
                              class="btn btn-primary"
                              style="padding: 10px 20px"
                            >
                              Add Now
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ACCORDIAN 3  -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="HeadingThree">
                      <button
                        class="accordion-button justify-content-between p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#C"
                        aria-expanded="true"
                        aria-controls="C"
                      >
                        <h6>Wednesday</h6>
                        <div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 10px"
                            class="btn btn-success btn-sm mr-3"
                            ><i class="ti-pencil"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="C"
                      class="accordion-collapse collapse"
                      aria-labelledby="HeadingThree"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row mt-4">
                          <div class="d-flex justify-content-end flex-wrap">
                            <div class="mr-1">
                              <button
                                class="btn-primary btn"
                                style="padding: 5px 13px"
                              >
                                Add More
                              </button>
                            </div>
                            <div class="ml-1">
                              <button
                                class="btn-danger btn"
                                style="padding: 5px 13px"
                              >
                                Delete All
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p>Add New Slot:</p>
                          <div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Start Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>End Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Intervals</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Durations</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <div class="row p-2">
                              <p>Assign Appointment Spaces:</p>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    01
                                  </label>
                                </div>
                              </div>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    02
                                  </label>
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div>
                                  <input
                                    type="text"
                                    placeholder="Others"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button
                              class="btn btn-primary"
                              style="padding: 10px 20px"
                            >
                              Add Now
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ACCORDIAN 4  -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="Headingfour">
                      <button
                        class="accordion-button justify-content-between p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#D"
                        aria-expanded="true"
                        aria-controls="D"
                      >
                        <h6>Thursday</h6>
                        <div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 10px"
                            class="btn btn-success btn-sm mr-3"
                            ><i class="ti-pencil"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="D"
                      class="accordion-collapse collapse"
                      aria-labelledby="Headingfour"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row mt-4">
                          <div class="d-flex justify-content-end flex-wrap">
                            <div class="mr-1">
                              <button
                                class="btn-primary btn"
                                style="padding: 5px 13px"
                              >
                                Add More
                              </button>
                            </div>
                            <div class="ml-1">
                              <button
                                class="btn-danger btn"
                                style="padding: 5px 13px"
                              >
                                Delete All
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p>Add New Slot:</p>
                          <div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Start Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>End Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Intervals</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Durations</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <div class="row p-2">
                              <p>Assign Appointment Spaces:</p>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    01
                                  </label>
                                </div>
                              </div>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    02
                                  </label>
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div>
                                  <input
                                    type="text"
                                    placeholder="Others"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button
                              class="btn btn-primary"
                              style="padding: 10px 20px"
                            >
                              Add Now
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ACCORDIAN 5  -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="HeadingFive">
                      <button
                        class="accordion-button justify-content-between p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#E"
                        aria-expanded="true"
                        aria-controls="E"
                      >
                        <h6>Friday</h6>
                        <div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 10px"
                            class="btn btn-success btn-sm mr-3"
                            ><i class="ti-pencil"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="E"
                      class="accordion-collapse collapse"
                      aria-labelledby="HeadingFive"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row mt-4">
                          <div class="d-flex justify-content-end flex-wrap">
                            <div class="mr-1">
                              <button
                                class="btn-primary btn"
                                style="padding: 5px 13px"
                              >
                                Add More
                              </button>
                            </div>
                            <div class="ml-1">
                              <button
                                class="btn-danger btn"
                                style="padding: 5px 13px"
                              >
                                Delete All
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p>Add New Slot:</p>
                          <div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Start Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>End Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Intervals</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Durations</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <div class="row p-2">
                              <p>Assign Appointment Spaces:</p>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    01
                                  </label>
                                </div>
                              </div>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    02
                                  </label>
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div>
                                  <input
                                    type="text"
                                    placeholder="Others"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button
                              class="btn btn-primary"
                              style="padding: 10px 20px"
                            >
                              Add Now
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ACCORDIAN 6  -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="HeadingSix">
                      <button
                        class="accordion-button justify-content-between p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#F"
                        aria-expanded="true"
                        aria-controls="F"
                      >
                        <h6>Saturday</h6>
                        <div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 10px"
                            class="btn btn-success btn-sm mr-3"
                            ><i class="ti-pencil"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="F"
                      class="accordion-collapse collapse"
                      aria-labelledby="HeadingSix"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row mt-4">
                          <div class="d-flex justify-content-end flex-wrap">
                            <div class="mr-1">
                              <button
                                class="btn-primary btn"
                                style="padding: 5px 13px"
                              >
                                Add More
                              </button>
                            </div>
                            <div class="ml-1">
                              <button
                                class="btn-danger btn"
                                style="padding: 5px 13px"
                              >
                                Delete All
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p>Add New Slot:</p>
                          <div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Start Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>End Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Intervals</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Durations</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <div class="row p-2">
                              <p>Assign Appointment Spaces:</p>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    01
                                  </label>
                                </div>
                              </div>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    02
                                  </label>
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div>
                                  <input
                                    type="text"
                                    placeholder="Others"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button
                              class="btn btn-primary"
                              style="padding: 10px 20px"
                            >
                              Add Now
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ACCORDIAN 7  -->
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="HeadingSeven">
                      <button
                        class="accordion-button justify-content-between p-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#G"
                        aria-expanded="true"
                        aria-controls="G"
                      >
                        <h6>Sunday</h6>
                        <div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 10px"
                            class="btn btn-success btn-sm mr-3"
                            ><i class="ti-pencil"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="G"
                      class="accordion-collapse collapse"
                      aria-labelledby="HeadingSeven"
                      data-bs-parent="#accordionExample"
                    >
                      <div class="accordion-body">
                        <div class="row mt-4">
                          <div class="d-flex justify-content-end flex-wrap">
                            <div class="mr-1">
                              <button
                                class="btn-primary btn"
                                style="padding: 5px 13px"
                              >
                                Add More
                              </button>
                            </div>
                            <div class="ml-1">
                              <button
                                class="btn-danger btn"
                                style="padding: 5px 13px"
                              >
                                Delete All
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="mt-4">
                          <p>Add New Slot:</p>
                          <div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Start Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>End Time</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Intervals</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                              <div class="col-md-6 mt-4">
                                <select class="form-control">
                                  <option>Appointments Durations</option>
                                  <option>Category2</option>
                                  <option>Category3</option>
                                  <option>Category4</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="mt-4">
                            <div class="row p-2">
                              <p>Assign Appointment Spaces:</p>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    01
                                  </label>
                                </div>
                              </div>
                              <div class="col-3 col-md-3">
                                <div class="form-check">
                                  <label
                                    class="form-check-label"
                                    style="margin-left: 0.5rem"
                                  >
                                    <input
                                      type="radio"
                                      class="form-check-input"
                                      name="optionsRadios"
                                      id="optionsRadios1"
                                      value=""
                                    />
                                    02
                                  </label>
                                </div>
                              </div>
                              <div class="col-6 col-md-6">
                                <div>
                                  <input
                                    type="text"
                                    placeholder="Others"
                                    class="form-control"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button
                              class="btn btn-primary"
                              style="padding: 10px 20px"
                            >
                              Add Now
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin">
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <h5 class="card-header p-4">Providing Services</h5>

            <div class="p-4">
              <div>
                <p>Consultation fee:</p>
                <div class="mt-4">
                  <input
                    type="text"
                    placeholder="Consultation fee"
                    class="form-control"
                  />
                </div>
              </div>
              <div class="mt-4">
                <p>Specialties & Services</p>
                <button class="btn btn-success mt-4">Save & Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
