a {
  text-decoration: none;
}
ul {
  padding-left: 0;
}

.dc-docpostcontent {
  flex-wrap: wrap;
}

.dc-searchvtwo {
  float: left;
  padding: 2rem 3rem;
  // width: 70%;
  max-width: none;
}
.pathology-test-title {
  margin: 0.5rem 0.4rem;
}
