<div class="container">
  <div class="row">
    <div id="dc-twocolumns" class="dc-twocolumns dc-haslayout my-5">
      <div class="float-left">
        <div class="dc-searchresult-holder">
          <div class="dc-searchresult-head">
            <h4>Doctors lists</h4>

            <div class="dc-rightarea">
              <div class="dc-select">
                <select>
                  <option value="Sort By:">Sort By:</option>
                </select>
              </div>
              <div class="dc-gridlist-option">
                <a href="javascript:void(0);" class="dc-linkactive"
                  ><i class="ti-layout-grid2"></i
                ></a>
                <a href="javascript:void(0);"><i class="ti-view-list"></i></a>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let data of DocArray">
            <div class="dc-searchresult-grid">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4">
                  <div class="dc-docpostholder">
                    <figure class="dc-docpostimg">
                      <img src="{{ data.img }}" alt="img description" />
                      <h1>{{ data.img }}</h1>
                      <figcaption>
                        <span class="dc-featuredtag"
                          ><i class="fa fa-bolt"></i
                        ></span>
                      </figcaption>
                    </figure>
                    <div class="dc-docpostcontent">
                      <a href="javascript:void(0);" class="dc-like dc-liked"
                        ><i class="fa fa-heart"></i
                      ></a>
                      <div class="dc-title">
                        <a href="javascript:void(0)" class="dc-docstatus"
                          >Neurosurgeon</a
                        >
                        <h3>
                          <a href="javascript:void(0);"
                            >Dr. {{ data.full_name }}
                          </a>
                          <i class="fa fa-award dc-awardtooltip"
                            ><em>Medical Registration Verified</em></i
                          >
                          <i class="fa fa-check-circle dc-awardtooltip"
                            ><em>Medical Registration Verified</em></i
                          >
                        </h3>
                        <ul class="dc-docinfo">
                          <li>
                            <em>Education {{ data.education }}</em>
                          </li>
                          <li>
                            <em>Specialist {{ data.speciality }}</em>
                          </li>
                          <li>
                            <span class="dc-stars"><span></span></span
                            ><em>2100 Feedback</em>
                          </li>
                        </ul>
                      </div>
                      <div class="dc-doclocation">
                        <span
                          ><i class="ti-direction-alt"></i> {{ data.state }},
                          {{ data.country }}</span
                        >
                        <span
                          ><i class="ti-direction-alt"></i>
                          {{ data.clinic_address }}
                        </span>
                        <span
                          ><i class="ti-calendar"></i> Mo, Tu,
                          <em class="dc-dayon">We</em>, Th, Fr, Sa</span
                        >
                        <a href="javascript:void(0);" class="dc-btn"
                          >Book Now</a
                        >
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <nav class="dc-pagination">
                    <ul>
                      <li class="dc-prevpage">
                        <a href="javascrip:void(0);"
                          ><i class="lnr lnr-chevron-left"></i
                        ></a>
                      </li>
                      <li><a href="javascrip:void(0);">1</a></li>
                      <li><a href="javascrip:void(0);">2</a></li>
                      <li><a href="javascrip:void(0);">3</a></li>
                      <li><a href="javascrip:void(0);">4</a></li>
                      <li><a href="javascrip:void(0);">...</a></li>
                      <li><a href="javascrip:void(0);">50</a></li>
                      <li class="dc-nextpage">
                        <a href="javascrip:void(0);"
                          ><i class="lnr lnr-chevron-right"></i
                        ></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- User Listing End-->
