<!-- User Listing Start-->
<div class="container">
  <div class="row">
    <div id="dc-twocolumns" class="dc-twocolumns dc-haslayout my-5">
      <div class="col-md-12 float-left">
        <div class="dc-searchresult-holder">
          <div class="dc-searchresult-head">
            <h4>RadioLogy Lists</h4>
            <div class="dc-rightarea">
              <div class="dc-select">
                <select>
                  <option value="Sort By:">Sort By:</option>
                </select>
              </div>
              <div class="dc-gridlist-option">
                <a href="javascript:void(0);"
                  ><i class="ti-layout-grid2"></i
                ></a>
                <a href="javascript:void(0);" class="dc-linkactive"
                  ><i class="ti-view-list"></i
                ></a>
              </div>
            </div>
          </div>
          <div
            class="dc-searchresult-grid dc-searchresult-list dc-searchvlistvtwo"
          >
            <ng-container >
              <div class="dc-docpostholder">
                <div class="dc-docpostcontent row">
                  <div class="dc-searchvtwo col-md-8">
                    <figure class="dc-docpostimg">
                      <img
                        src="assets/images/doctors/img-12.jpg"
                        alt="img description"
                      />
                      <figcaption>
                        <span class="dc-featuredtag"
                          ><i class="fa fa-bolt"></i
                        ></span>
                      </figcaption>
                    </figure>
                    <div class="dc-title">
                      <a href="javascript:void(0)" class="dc-docstatus"
                        >Neurosurgeon</a
                      >
                      <h3>
                        <a href="assets/images/doctors/img-12.jpg"
                          >test
                        </a>
                        <i class="fa fa-award dc-awardtooltip"
                          ><em>Medical Registration Verified</em></i
                        >
                        <i class="fa fa-check-circle dc-awardtooltip"
                          ><em>Medical Registration Verified</em></i
                        >
                      </h3>
                    </div>
                    <div class="dc-tags">
                      <ul>
                        <h6 class="pathology-test-title">Tests</h6>
                        <li>
                          <a href="javascript:void(0);">Artificial Teeth</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            >Conservative Dentistry</a
                          >
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            >Crowns and Bridges Fixing</a
                          >
                        </li>
                        <li>
                          <a href="javascript:void(0);">Endosurgery</a>
                        </li>
                        <li>
                          <a href="javascript:void(0);"
                            >Fixed Partial Denture (FPD)</a
                          >
                        </li>
                        <li>
                          <a href="javascript:void(0);">Flap Surgery</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="dc-doclocation dc-doclocationvtwo col-md-4">
                    <span
                      ><i class="ti-direction-alt"></i>test}</span
                    >

                    <span><i class="ti-wallet"></i> Starting From $50</span>
                    <span
                      ><i class="ti-calendar"></i>
                      <em class="dc-available">Available Today</em></span
                    >
                    <div class="dc-btnarea">
                      <a routerLink="/doctor-details" class="dc-btn"
                        >Book Now</a
                      >
                      <a href="javascript:void(0);" class="dc-like dc-liked"
                        ><i class="fa fa-heart"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- <div class="dc-docpostholder">
              <div class="dc-docpostcontent">
                <div class="dc-searchvtwo">
                  <figure class="dc-docpostimg">
                    <img
                      src="images/searchlist/img-09.jpg"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-title">
                    <a href="javascript:void(0)" class="dc-docstatus"
                      >Neurosurgeon</a
                    >
                    <h3>
                      <a href="javascript:void(0);">Dr. Tinisha Amenta </a>
                      <i class="fa fa-award dc-awardtooltip"
                        ><em>Medical Registration Verified</em></i
                      >
                      <i class="fa fa-check-circle dc-awardtooltip"
                        ><em>Medical Registration Verified</em></i
                      >
                    </h3>
                    <ul class="dc-docinfo">
                      <li>
                        <em>MBBS, MCPS, MSc (Immunology)</em>
                      </li>
                      <li>
                        <span class="dc-stars"><span></span></span
                        ><em>2100 Feedback</em>
                      </li>
                    </ul>
                  </div>
                  <div class="dc-tags">
                    <ul>
                      <li>
                        <a href="javascript:void(0);">Artificial Teeth</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Conservative Dentistry</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);"
                          >Crowns and Bridges Fixing</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0);">Endosurgery</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);"
                          >Fixed Partial Denture (FPD)</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0);">Flap Surgery</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="dc-tagviewall"
                          >View all</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dc-doclocation dc-doclocationvtwo">
                  <span><i class="ti-direction-alt"></i> Manchester, UK</span>
                  <span
                    ><i class="ti-calendar"></i> Mo, Tu,
                    <em class="dc-dayon">We</em>, Th, Fr, Sa</span
                  >
                  <span><i class="ti-thumb-up"></i> 345 Votes</span>
                  <span><i class="ti-wallet"></i> Starting From $50</span>
                  <span
                    ><i class="ti-calendar"></i>
                    <em class="dc-available">Available Today</em></span
                  >
                  <div class="dc-btnarea">
                    <a routerLink="../view-radiology" class="dc-btn"
                      >View Details</a
                    >
                    <a href="javascript:void(0);" class="dc-like dc-liked"
                      ><i class="fa fa-heart"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="dc-docpostholder">
              <div class="dc-docpostcontent">
                <div class="dc-searchvtwo">
                  <figure class="dc-docpostimg">
                    <img
                      src="images/searchlist/img-15.jpg"
                      alt="img description"
                    />
                    <figcaption>
                      <span class="dc-featuredtag"
                        ><i class="fa fa-bolt"></i
                      ></span>
                    </figcaption>
                  </figure>
                  <div class="dc-title">
                    <a href="javascript:void(0)" class="dc-docstatus"
                      >Neurosurgeon</a
                    >
                    <h3>
                      <a href="javascript:void(0);">Dr. Nubia Riccardi </a>
                      <i class="fa fa-award dc-awardtooltip"
                        ><em>Medical Registration Verified</em></i
                      >
                      <i class="fa fa-check-circle dc-awardtooltip"
                        ><em>Medical Registration Verified</em></i
                      >
                    </h3>
                    <ul class="dc-docinfo">
                      <li>
                        <em>MBBS, MCPS, MSc (Immunology)</em>
                      </li>
                      <li>
                        <span class="dc-stars"><span></span></span
                        ><em>2100 Feedback</em>
                      </li>
                    </ul>
                  </div>
                  <div class="dc-tags">
                    <ul>
                      <li>
                        <a href="javascript:void(0);">Artificial Teeth</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">Conservative Dentistry</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);"
                          >Crowns and Bridges Fixing</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0);">Endosurgery</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);"
                          >Fixed Partial Denture (FPD)</a
                        >
                      </li>
                      <li>
                        <a href="javascript:void(0);">Flap Surgery</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" class="dc-tagviewall"
                          >View all</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="dc-doclocation dc-doclocationvtwo">
                  <span><i class="ti-direction-alt"></i> Manchester, UK</span>
                  <span
                    ><i class="ti-calendar"></i> Mo, Tu,
                    <em class="dc-dayon">We</em>, Th, Fr, Sa</span
                  >
                  <span><i class="ti-thumb-up"></i> 345 Votes</span>
                  <span><i class="ti-wallet"></i> Starting From $50</span>
                  <span
                    ><i class="ti-calendar"></i>
                    <em class="dc-available">Available Today</em></span
                  >
                  <div class="dc-btnarea">
                    <a routerLink="../view-radiology" class="dc-btn"
                      >View Details</a
                    >
                    <a href="javascript:void(0);" class="dc-like dc-liked"
                      ><i class="fa fa-heart"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div> -->
            <nav class="dc-pagination">
              <ul>
                <li class="dc-prevpage">
                  <a href="javascrip:void(0);"
                    ><i class="lnr lnr-chevron-left"></i
                  ></a>
                </li>
                <li><a href="javascrip:void(0);">1</a></li>
                <li><a href="javascrip:void(0);">2</a></li>
                <li><a href="javascrip:void(0);">3</a></li>
                <li><a href="javascrip:void(0);">4</a></li>
                <li><a href="javascrip:void(0);">...</a></li>
                <li><a href="javascrip:void(0);">50</a></li>
                <li class="dc-nextpage">
                  <a href=""><i class="lnr lnr-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- User Listing End-->
