<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin mb-10">
      <div class="card">
        <div class="card-body">
          <div>
            <div>
              <p>Select The Appointment Date*</p>

              <div class="border p-3">
                <input
                  style="
                    border-radius: 5px;
                    border-color: blueviolet;
                    padding: 10px;
                    width: 100%;
                    max-width: 170px;
                  "
                  type="date"
                  name=""
                  id=""
                />
              </div>
            </div>

            <div
              class="btn-h5-container d-flex justify-content-between align-items-center mt-3 flex-wrap"
            >
              <div class="h5-container-apt-list">
                <h5 style="margin: 0px">Recent Appointments</h5>
              </div>
              <div class="btn-container-apt-list">
                <!-- MODAL TRIGGER-->
                <button
                  type="submit"
                  class="btn btn-sm btn-success"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Add Booking
                </button>
              </div>
              <!-- MODAL -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content book-appointment-modal">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Modal title
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">Add patient details</h4>
                      <p class="card-description">
                        Please add correct email address to find patient from
                        the database, if not found then you can add new patient
                        into database by typing email address and name
                      </p>
                      <form class="forms-sample">
                        <div class="form-group">
                          <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            placeholder="Email"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="exampleInputUsername1"
                            placeholder="First Name"
                          />
                        </div>

                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="exampleInputUsername1"
                            placeholder="Last Name"
                          />
                        </div>
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="exampleInputUsername1"
                            placeholder="Phone"
                          />
                        </div>
                        <!-- <div
                          class="form-check form-check-flat form-check-primary"
                        >
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" />
                            Create New User
                          </label>
                        </div> -->

                        <div class="mt-4">
                          <div
                            class="row align-items-center justify-content-between"
                          >
                            <div class="col-auto">
                              <p style="margin: 0px">
                                Who Is Visiting To Doctor?
                              </p>
                            </div>

                            <div class="col-auto">
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  value="my self"
                                  name="who_is_visiting"
                                  id="flexRadioDefault1"
                                />
                                <label
                                  class="form-check-label"
                                  for="flexRadioDefault1"
                                >
                                  My Self
                                </label>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  value="my self"
                                  name="who_is_visiting"
                                  id="flexRadioDefault1"
                                />
                                <label
                                  class="form-check-label"
                                  for="flexRadioDefault1"
                                >
                                  Someone Else
                                </label>
                              </div>
                            </div>
                          </div>

                          <div
                            class="mt-4"
                            id="relation-container"
                            style="display: none"
                          >
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="exampleInputUsername1"
                                    placeholder="Name"
                                  />
                                </div>
                              </div>
                              <div class="col-md-6 bg-grey">
                                <div class="form-group">
                                  <select class="form-control">
                                    <option>Relation With You?</option>
                                    <option>Son</option>
                                    <option>Mother</option>
                                    <option>Father</option>
                                    <option>Grand Father</option>
                                    <option>Grand Mother</option>
                                    <option>Others</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="mt-4">
                          <div class="form-group">
                            <select class="form-control">
                              <option>Where To Visit?</option>
                              <option>Dashboard</option>
                              <option>Ensore Waka</option>
                            </select>
                          </div>
                          <div>
                            <div class="form-group">
                              <textarea
                                class="form-control"
                                id="exampleTextarea1"
                                rows="4"
                                placeholder="Comments:"
                              ></textarea>
                            </div>
                          </div>
                        </div>

                        <div class="mt-4">
                          <h5>
                            Select best time for appointment with time zone
                          </h5>
                          <p>
                            *These time slots are based on the timezone
                            Asia/Kolkata
                          </p>
                          <div class="row flex-column align-items-center">
                            <div class="col-6 mb-4">
                              <div class="card">
                                <div class="card-body text-center">
                                  <div>
                                    <input
                                      style="
                                        border-radius: 5px;
                                        border-color: blueviolet;
                                        padding: 10px;
                                        width: 100%;
                                        max-width: 170px;
                                      "
                                      type="date"
                                      name=""
                                      id=""
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-9">
                              <div class="card">
                                <div class="card-body">
                                  <div>
                                    <blockquote
                                      class="blockquote mb-0 recent-apt-container"
                                      style="border: 1px dashed grey"
                                    >
                                      <span
                                        class="apt-list-recent-apt-img-container"
                                      ></span>
                                      <p style="text-align: center">
                                        No Recent Appointments
                                      </p>
                                    </blockquote>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        data-bs-dismiss="modal"
                        class="btn btn-primary"
                      >
                        Continue
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div>
            <div class="content-wrapper">
              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card">
                      <h4 class="card-header p-4">Patient Appointments</h4>

                      <div class="p-4 table-responsive">
                        <table class="table border">
                          <thead>
                            <tr>
                              <!-- <th scope="col">Patient Id</th> -->
                              <th scope="col">Patient Name</th>
                              <th scope="col">Patient Email</th>
                              <th scope="col">Phone Number</th>
                              <th scope="col">Who Is Visiting</th>
                              <th scope="col">Comments</th>
                              <th scope="col">Time Slots</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let data; of">
                              <tr>
                                <!-- <td>{{ data.id }}</td> -->
                                <td>{{ data.name }}</td>
                                <td>{{ data.email }}</td>
                                <td>{{ data.mobile }}</td>
                                <td>{{ data.who_is_visiting }}</td>
                                <td>{{ data.comment }}</td>
                                <td>
                                  Start Time {{ data.startTime }} | End Time{{
                                    data.endTime
                                  }}
                                </td>
                                <td>
                                  <button
                                    formControlName="confirm"
                                    (click)="ConfirmStatus(data)"
                                    class="btn-sm btn-outline-success"
                                  >
                                    Confirm
                                  </button>
                                  <button
                                    (click)="CancelStatus(data)"
                                    formControlName="cancel"
                                    class="btn-sm btn-outline-danger"
                                  >
                                    Cancel
                                  </button>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
