<!-- HEADER  -->
<app-header></app-header>
<!-- Main Start -->
<main id="dc-main" class="dc-main">
  <!-- SEARCH BAR START   -->
  <div class="dc-innerbanner-holder dc-haslayout">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="dc-innerbanner">
            <form
              class="dc-formtheme dc-form-advancedsearch dc-innerbannerform"
            >
              <fieldset>
                <div class="form-group">
                  <input
                    #search
                    type="text"
                    name="search"
                    class="form-control"
                    placeholder="Search doctors"
                  />
                </div>
                <div class="form-group">
                  <div class="dc-select">
                    <select>
                      <option selected="" value="">All Specialties</option>
                      <option value="arthoscopy-and-sports-medicine">
                        Arthoscopy and Sports Medicine
                      </option>
                      <option value="cardiology-and-cardiac-surgery">
                        CARDIOLOGY AND CARDIAC SURGERY
                      </option>
                      <option value="cosmetic-plastic-surgery">
                        Cosmetic &amp; Plastic Surgery
                      </option>
                      <option value="dental-treatment">Dental Treatment</option>
                      <option value="endocrinology">ENDOCRINOLOGY</option>
                      <option value="ent-surgery">ENT Surgery</option>
                      <option value="gastroenterology">GASTROENTEROLOGY</option>
                      <option value="general-surgeon">General Surgeon</option>
                      <option value="gynaecology">Gynaecology</option>
                      <option value="gynaecology-and-obstetrics">
                        Gynaecology and Obstetrics
                      </option>
                      <option value="hematology">Hematology</option>
                      <option value="infertility-specialist">
                        Infertility Specialist
                      </option>
                      <option value="interventional-cardiologist">
                        Interventional Cardiologist
                      </option>
                      <option value="interventional-radiologist">
                        Interventional Radiologist
                      </option>
                      <option value="medical-gastroenterologist">
                        Medical Gastroenterologist
                      </option>
                      <option value="medical-oncologist">
                        Medical Oncologist
                      </option>
                      <option value="minimal-access-and-bariatric-surgeon">
                        Minimal Access and Bariatric Surgeon
                      </option>
                      <option value="neonatologist">Neonatologist</option>
                      <option value="nephrologist">Nephrologist</option>
                      <option value="neurologist">Neurologist</option>
                      <option value="neurology-and-neurosurgery">
                        Neurology And Neurosurgery
                      </option>
                      <option value="neurosurgeon">Neurosurgeon</option>
                      <option value="obesity-and-bariatric-surgeon">
                        Obesity and Bariatric Surgeon
                      </option>
                      <option value="oncologist">Oncologist</option>
                      <option value="oncology-and-oncosurgery">
                        ONCOLOGY AND ONCOSURGERY
                      </option>
                      <option value="opthalmology">Opthalmology</option>
                      <option value="orthopaedic-and-joint-replacement-surgeon">
                        Orthopaedic and Joint Replacement Surgeon
                      </option>
                      <option value="orthopedics">Orthopedics</option>
                      <option value="paediatric-orthopedecian">
                        Paediatric Orthopedecian
                      </option>
                      <option value="pediatric-cardiologist">
                        Pediatric Cardiologist
                      </option>
                      <option value="pediatrics">Pediatrics</option>
                      <option value="pediatrics-and-pediatric-surgery">
                        PEDIATRICS AND PEDIATRIC SURGERY
                      </option>
                      <option value="radiation-oncologist">
                        Radiation Oncologist
                      </option>
                      <option value="rheumatology">Rheumatology</option>
                      <option value="spine-surgery">SPINE SURGERY</option>
                      <option value="surgical-gastroenterologist">
                        Surgical Gastroenterologist
                      </option>
                      <option value="surgical-oncologist">
                        Surgical Oncologist
                      </option>
                      <option value="transplant-surgery">
                        Transplant Surgery
                      </option>
                      <option value="urologist">Urologist</option>
                      <option value="urologist-and-andrologist">
                        Urologist and Andrologist
                      </option>
                      <option value="urology-treatment">
                        Urology Treatment
                      </option>
                    </select>
                  </div>
                </div>
                <div class="dc-btnarea">
                  <span class="dc-btn search-bar-btn">Search</span>
                </div>
              </fieldset>
            </form>
            <a href="javascript:void(0);" class="dc-docsearch"
              ><span class="dc-advanceicon"><i></i> <i></i> <i></i></span
              ><span>Advanced <br />Search</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="dc-advancedsearch-holder">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="dc-advancedsearchs">
              <form class="dc-formtheme dc-form-advancedsearchs">
                <fieldset>
                  <div class="form-group">
                    <div class="dc-select">
                      <select
                        name="doctor-country"
                        class="form-control"
                        id="doctor-country"
                      >
                        <option selected="" value="">All Countries</option>
                        <option value="india">India</option>
                        <option value="turkey">Turkey</option>
                        <option value="united-arab-emirates">
                          United Arab Emirates
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="dc-select">
                      <select
                        name="doctor-city"
                        class="form-control"
                        id="doctor-city"
                      >
                        <option selected="" value="">All Cities</option>
                        <option value="abu-dhabi">Abu Dhabi</option>
                        <option value="ahmedabad">Ahmedabad</option>
                        <option value="amritsar">Amritsar</option>
                        <option value="ankara">Ankara</option>
                        <option value="bangalore">Bangalore</option>
                        <option value="chennai">Chennai</option>
                        <option value="dubai">Dubai</option>
                        <option value="faridabad">Faridabad</option>
                        <option value="gaziabad">Gaziabad</option>
                        <option value="gurgaon">Gurgaon</option>
                        <option value="hyderabad">Hyderabad</option>
                        <option value="istanbul">Istanbul</option>
                        <option value="kochi">Kochi</option>
                        <option value="kolkata">Kolkata</option>
                        <option value="mathura">Mathura</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="new-delhi">New Delhi</option>
                        <option value="noida">Noida</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="dc-typeoptions">
                      <select
                        name="doctor-hospital"
                        class="form-control"
                        id="doctor-hospital"
                      >
                        <option selected="" value="">All Hospitals</option>
                        <option value="6345">
                          Asian Heart Institute, Mumbai
                        </option>
                        <option value="6347">
                          S. L. Raheja Hospital Mumbai
                        </option>
                        <option value="6322">Fortis La Femme, New Delhi</option>
                        <option value="6316">
                          Primus Super Speciality Hospital, New Delhi
                        </option>
                        <option value="6330">
                          Wockhardt Hospitals, Mumbai Central
                        </option>
                        <option value="6333">
                          Fortis Hiranandani Hospital, Vashi
                        </option>
                        <option value="6336">
                          Apollo Hospital, Navi Mumbai
                        </option>
                        <option value="6307">
                          World Infertility and IVF Centre, New Delhi
                        </option>
                        <option value="6301">
                          Medicover Fertility Center, Delhi
                        </option>
                        <option value="6292">
                          Delhi IVF and Fertility Centre, New Delhi
                        </option>
                        <option value="6276">
                          Pushpawati Singhania Research Institute, New Delhi
                        </option>
                        <option value="6284">
                          IBS Institute of Brain and Spine, New Delhi
                        </option>
                        <option value="6267">
                          Fortis Hospital Delhi Shalimar Bagh
                        </option>
                        <option value="6264">Max Hospital Shalimar Bagh</option>
                        <option value="6171">
                          KIMS GEMS Hospital ,Srikakulam
                        </option>
                        <option value="6162">
                          Sheba Medical Center, Israel
                        </option>
                        <option value="6168">KIMS Hospital, Kurnool</option>
                        <option value="6152">KIMS Hospital, Nellore</option>
                        <option value="6146">
                          KIMS Hospital, Secunderabad
                        </option>
                        <option value="5857">
                          Tajmeel Medical Center, Abu Dhabi
                        </option>
                        <option value="6008">
                          HCG Cancer Centre, Bangalore
                        </option>
                        <option value="6031">
                          HCG EKO Cancer Centre, Kolkata
                        </option>
                        <option value="6033">HCG Cancer Centre, Mumbai</option>
                        <option value="6063">
                          Fortis Hospital, Bangalore (Bannerghatta Road)
                        </option>
                        <option value="5424">
                          Fortis Escorts Hospital New Delhi
                        </option>
                        <option value="5852">
                          Life Care Hospital, Abu Dhabi
                        </option>
                        <option value="5850">
                          Lifeline Hospital, Abu Dhabi
                        </option>
                        <option value="5848">
                          Medeor 24×7 Hospital, Abu Dhabi
                        </option>
                        <option value="5843">
                          Burjeel Specialty Hospital, Sharjah
                        </option>
                        <option value="5845">
                          Medeor Hospital 24×7, Dubai
                        </option>
                        <option value="5840">
                          Burjeel Medical City, Abu Dhabi
                        </option>
                        <option value="5838">
                          Burjeel Hospital, Abu Dhabi
                        </option>
                        <option value="5836">Burjeel Hospital, Dubai</option>
                        <option value="5663">
                          Medical Park Group, İstanbul
                        </option>
                        <option value="5659">
                          Kolan International Hospital, Istanbul
                        </option>
                        <option value="5647">
                          Emsey Hospital, Pendik, Turkey
                        </option>
                        <option value="5521">
                          The Ajou University Hospital, Suwon-si
                        </option>
                        <option value="5519">
                          Kangbuk Samsung Hospital, Seoul
                        </option>
                        <option value="5472">El Manar Clinic, Tunis</option>
                        <option value="5473">
                          Polyclinique les Jasmins, Tunis
                        </option>
                        <option value="5475">
                          Chonbuk National University Hospital
                        </option>
                        <option value="5474">Pasteur Clinic, Tunis</option>
                        <option value="5517">
                          Gachon University – Gil Medical Center
                        </option>
                        <option value="5520">
                          Kosin University – Gospel Hospital
                        </option>
                        <option value="5522">
                          Chung-Ang University Hospital, Seoul
                        </option>
                        <option value="5527">
                          Konkuk University Medical Centre
                        </option>
                        <option value="5525">Inha University Hospital</option>
                        <option value="5528">
                          Pusan National University – Yangsan Hospital
                        </option>
                        <option value="5529">
                          Inje University – Haeundae Paik Hospital
                        </option>
                        <option value="5530">
                          Gangnam Severance Hospital – Yonsei University
                        </option>
                        <option value="5532">Samsung Medical Center</option>
                        <option value="5524">
                          Chonnam National University Hospital
                        </option>
                        <option value="5467">Clinique De L`espoir</option>
                        <option value="5468">Ennasr Clinic, Ariana</option>
                        <option value="5465">Clinique Avicenne, Tunis</option>
                        <option value="5460">
                          Eureka Esthetique, Marsa, Tunisia
                        </option>
                        <option value="5265">
                          American Hospital, Istanbul
                        </option>
                        <option value="5263">
                          Acibadem Hospitals Group, Istanbul, Turkey
                        </option>
                        <option value="4016">
                          Yatharth Super Specialty Hospital, Greater Noida
                        </option>
                        <option value="4014">
                          Kidwai Memorial Institute of Oncology, Bangalore
                        </option>
                        <option value="4010">
                          Apollo Spectra Hospital, Mumbai
                        </option>
                        <option value="4008">
                          Fortis Hospital, Mulund, Mumbai
                        </option>
                        <option value="4006">
                          Brains Neuro Spine Centre, Bangalore
                        </option>
                        <option value="4004">
                          Max Super Speciality Hospital, Vaishali
                        </option>
                        <option value="3987">
                          Aster Prime Hospital, Hyderabad
                        </option>
                        <option value="3985">
                          Sharda Hospital, Greater Noida
                        </option>
                        <option value="3983">Aster MIMS, Calicut</option>
                        <option value="3981">
                          SRCC Children’s Hospital, Mumbai
                        </option>
                        <option value="3979">
                          Rainbow Children’s Hospital, Hyderabad
                        </option>
                        <option value="3977">
                          Aster RV Hospital, Bangalore
                        </option>
                        <option value="3975">
                          Medeor Hospital, Qutab, New Delhi
                        </option>
                        <option value="3967">CK Birla Hospital, Gurgaon</option>
                        <option value="3965">
                          Venkateshwar Hospital, New Delhi
                        </option>
                        <option value="3963">
                          Susrut Eye Foundation and Research Centre, Kolkata
                        </option>
                        <option value="3960">Nayati Medicity, Mathura</option>
                        <option value="3958">
                          Global Hospitals, Hyderabad
                        </option>
                        <option value="3269">
                          VPS Lakeshore Hospital, Kochi
                        </option>
                        <option value="3267">
                          Nanavati Super Specialty Hospital, Mumbai
                        </option>
                        <option value="3250">Hemas Hospital, Wattala</option>
                        <option value="3247">Nawaloka Hospital, Colombo</option>
                        <option value="3245">Durdans Hospital, Colombo</option>
                        <option value="3243">Lanka Hospital, Colombo</option>
                        <option value="3221">
                          Asiri Central Hospital, Colombo
                        </option>
                        <option value="3017">Hosmat Hospital, Bangalore</option>
                        <option value="3015">Moolchand Hospital, Delhi</option>
                        <option value="3009">MGM Healthcare, Chennai</option>
                        <option value="3006">Metro Hospital Noida</option>
                        <option value="3004">Fortis Hospital, Noida</option>
                        <option value="2698">
                          Columbia Asia Hospital Bangalore
                        </option>
                        <option value="2696">KIMS Global, Trivandrum</option>
                        <option value="2685">
                          Aravind Eye Hospital, Madurai
                        </option>
                        <option value="2681">
                          Continental Hospitals, Hyderabad
                        </option>
                        <option value="2678">
                          Care Hospitals, Banjara Hills, Hyderabad
                        </option>
                        <option value="2669">
                          P.D Hinduja Hospital &amp; Medical Research Centre,
                          Mumbai
                        </option>
                        <option value="2675">KIMS Hospital, Hyderabad</option>
                        <option value="2503">Shalby Hospital, Ahmedabad</option>
                        <option value="2500">
                          Dayanand Medical College and Hospital, Ludhiana
                        </option>
                        <option value="2498">
                          Seven Hills Hospital, Mumbai
                        </option>
                        <option value="2492">Sparsh Hospital, Bangalore</option>
                        <option value="2490">Vijaya Hospital, Chennai</option>
                        <option value="2489">
                          Dr. L H Hiranandani Hospital, Mumbai
                        </option>
                        <option value="2486">SIMS Hospital, Chennai</option>
                        <option value="2478">
                          Breach Candy Hospital, Mumbai
                        </option>
                        <option value="2474">
                          Kokilaben Dhirubhai Ambani Hospital Mumbai
                        </option>
                        <option value="2472">Jaslok Hospital Mumbai</option>
                        <option value="2470">Rajagiri Hospital, Kochi</option>
                        <option value="2307">
                          Kailash Hospital and Heart Institute, Noida
                        </option>
                        <option value="2310">
                          Bombay Hospital &amp; Medical Research Center, Mumbai
                        </option>
                        <option value="2304">
                          Yashoda Hospitals, Hyderabad
                        </option>
                        <option value="2269">
                          Rainbow Hospital, Bangalore
                        </option>
                        <option value="2224">Aster Medcity Kochi</option>
                        <option value="2218">
                          Sir Ganga Ram Hospital, New Delhi
                        </option>
                        <option value="2212">Saifee Hospital, Mumbai</option>
                        <option value="2203">
                          MIOT International, Chennai
                        </option>
                        <option value="2201">
                          Manipal Hospitals Dwarka, Delhi
                        </option>
                        <option value="2191">
                          Fortis Hospital Kolkata West Bengal
                        </option>
                        <option value="2182">
                          Sankara Nethralaya, Chennai
                        </option>
                        <option value="2174">
                          Apollo Gleneagles Hospital Kolkata
                        </option>
                        <option value="2170">Global Hospital Chennai</option>
                        <option value="2168">
                          Apollo Hospitals, Greams Road, Chennai
                        </option>
                        <option value="2159">Global Hospital Mumbai</option>
                        <option value="2157">Jaypee Hospital, Noida</option>
                        <option value="1900">
                          Indraprastha Apollo Hospital New Delhi
                        </option>
                        <option value="1898">
                          BLK Super Specialty Hospital New Delhi
                        </option>
                        <option value="1896">
                          Max Super Speciality Hospital, Saket, New Delhi
                        </option>
                        <option value="1904">
                          Narayana Multispeciality Hospital Bangalore
                        </option>
                        <option value="1890">
                          Narayana Superspeciality Hospital, Gurgaon
                        </option>
                        <option value="1888">
                          Columbia Asia Hospital Gurgaon
                        </option>
                        <option value="1886">
                          Rockland Hospital, Manesar, Gurgaon
                        </option>
                        <option value="1881">Artemis Hospital Gurgaon</option>
                        <option value="1868">Paras Hospitals, Gurgaon</option>
                        <option value="1866">
                          Max Super Specialty Hospital Gurgaon
                        </option>
                        <option value="1862">
                          Medanta – The Medicity Hospital, Gurgaon
                        </option>
                        <option value="1844">Fortis Hospital Gurgaon</option>
                      </select>
                    </div>
                  </div>

                  <div class="dc-btnarea">
                    <a href="javascript:void(0);" class="dc-btn dc-resetbtn"
                      >Reset Filters</a
                    >
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SEARCH BAR END  -->

  <div class="dc-haslayout dc-main-section">
    <!-- User Listing Start-->
    <div class="container">
      <div class="row">
        <div id="dc-twocolumns" class="dc-twocolumns dc-haslayout">
          <div class="col-12">
            <div class="dc-searchresult-grid">
              <div class="row">
                <div
                  class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4"
                  *ngFor="let item; of"
                >
                  <div class="dc-docpostholder">
                    <figure class="dc-docpostimg">
                      <img src="{{ item.image_url }}" alt="img description" />
                      <figcaption>
                        <span class="dc-featuredtag"
                          ><i class="fa fa-bolt"></i
                        ></span>
                      </figcaption>
                    </figure>
                    <div class="dc-docpostcontent">
                      <a href="javascript:void(0);" class="dc-like dc-liked"
                        ><i class="fa fa-heart"></i
                      ></a>
                      <div class="dc-title">
                        <a href="javascript:void(0)" class="dc-docstatus">{{
                          item.speciality
                        }}</a>
                        <h3>
                          <a href="javascript:void(0);">{{ item.name }}</a>
                          <i class="fa fa-award dc-awardtooltip"
                            ><em>Medical Registration Verified</em></i
                          >
                          <i class="fa fa-check-circle dc-awardtooltip"
                            ><em>Medical Registration Verified</em></i
                          >
                        </h3>
                        <ul class="dc-docinfo">
                          <li>
                            <em>{{ item.qualification }}</em>
                          </li>
                          <li>
                            <span class="dc-stars"><span></span></span
                            ><em>2100 Feedback</em>
                          </li>
                        </ul>
                      </div>
                      <div class="dc-doclocation text-center">
                        <button
                          class="doctor-card-btns btn-sm"
                          data-toggle="modal"
                          (click)="openModel()"
                        >
                          Book Now
                        </button>
                        <button
                          href="javascript:void(0);"
                          class="doctor-card-btns btn-sm"
                          data-toggle="modal"
                          data-target="#feedbackmodal"
                        >
                          Add Feedback</button
                        ><button
                          (click)="doctorDetail(item)"
                          class="doctor-card-btns btn-sm"
                          data-toggle="modal"
                          data-target="#appointment"
                        >
                          Doctor Details
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <nav class="dc-pagination">
                    <ul>
                      <li class="dc-prevpage">
                        <a href="javascrip:void(0);"
                          ><i class="lnr lnr-chevron-left"></i
                        ></a>
                      </li>
                      <li><a href="javascrip:void(0);">1</a></li>
                      <li><a href="javascrip:void(0);">2</a></li>
                      <li><a href="javascrip:void(0);">3</a></li>
                      <li><a href="javascrip:void(0);">4</a></li>
                      <li><a href="javascrip:void(0);">...</a></li>
                      <li><a href="javascrip:void(0);">50</a></li>
                      <li class="dc-nextpage">
                        <a href="javascrip:void(0);"
                          ><i class="lnr lnr-chevron-right"></i
                        ></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

            <!--  <div class="dc-docsingle-header" *ngFor="let item of doctorList">
              <figure class="dc-docsingleimg">
                <img
                  style="height: 100px; width: 100px"
                  src="{{ item.image_url }}"
                  alt="img description"
                />
                <figcaption>
                  <span class="dc-featuredtag"><i class="fa fa-bolt"></i></span>
                </figcaption>
              </figure>
              <div class="dc-docsingle-content">
                <div class="dc-title">
                  <a href="javascript:void(0)" class="dc-docstatus">{{
                    item.speciality
                  }}</a>
                  <h2>
                    <a href="javascript:void(0);"
                      >{{ item.name }}
                      <i class="fa fa-award dc-awardtooltip"
                        ><em>Medical Registration Verified</em></i
                      >
                      <i class="fa fa-check-circle dc-awardtooltip"
                        ><em>Medical Registration Verified</em></i
                      >
                    </a>
                  </h2>
                  <ul class="dc-docinfo">
                    <li>
                      <em>{{ item.qualification }}</em>
                    </li>
                    <li>
                      <span class="dc-stars"><span></span></span
                      ><em>2100 Feedback</em>
                    </li>
                  </ul>
                  <a href="javascript:void(0);" class="dc-like"
                    ><i class="fa fa-heart"></i
                  ></a>
                </div>
                <div class="dc-description">
                  <p *ngFor="let ser of item.services">
                    {{ ser }}
                  </p>
                </div>
                <div class="dc-btnarea">
                  <a
                    href="javascript:void(0);"
                    class="dc-btn"
                    data-toggle="modal"
                    data-target="#feedbackmodal"
                    >Add Feedback</a
                  >
                  <a class="dc-btn" data-toggle="modal" (click)="openModel()"
                    >Book Now</a
                  >
                  <a
                    (click)="doctorDetail(item)"
                    class="dc-btn"
                    data-toggle="modal"
                    data-target="#appointment"
                    >Doctor Details</a
                  >
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- User Listing End-->
  </div>
  <!-- Emerging Clients End -->
  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content book-appointment-modal">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book Appointment</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="card-body">
          <form class="forms-sample" [formGroup]="">
            <div class="form-group">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                id="exampleInputUsername1"
                placeholder="First Name"
              />
            </div>

            <!-- <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="exampleInputUsername1"
                placeholder="Last Name"
              />
            </div> -->
            <div class="form-group">
              <input
                formControlName="email"
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <input
                formControlName="mobile"
                type="number"
                class="form-control"
                id="exampleInputUsername1"
                placeholder="Phone"
              />
            </div>
            <!-- <div
                          class="form-check form-check-flat form-check-primary"
                        >
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" />
                            Create New User
                  </label>
            </div> -->

            <div class="mt-4">
              <div class="row align-items-center justify-content-between">
                <div class="col-md-12 mb-3">
                  <p style="margin: 0px">Who Is Visiting To Doctor?</p>
                </div>

                <div class="col-md-6">
                  <div class="form-check">
                    <input
                      formControlName="who_is_visiting"
                      class="form-check-input"
                      type="radio"
                      value="my self"
                      name="who_is_visiting"
                      id="flexRadioDefault1"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      My Self
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-check">
                    <input
                      formControlName="who_is_visiting"
                      class="form-check-input"
                      type="radio"
                      value="someone else"
                      name="who_is_visiting"
                      id="flexRadioDefault1"
                    />
                    <label class="form-check-label" for="flexRadioDefault1">
                      Someone Else
                    </label>
                  </div>
                </div>
              </div>

              <div class="mt-4" id="relation-container" style="display: none">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputUsername1"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                  <div class="col-md-6 bg-grey">
                    <div class="form-group">
                      <select class="form-control">
                        <option>Relation With You?</option>
                        <option>Son</option>
                        <option>Mother</option>
                        <option>Father</option>
                        <option>Grand Father</option>
                        <option>Grand Mother</option>
                        <option>Others</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <div class="form-group">
                <p style="margin: 0px">Where To Visit?</p>
                <select formControlName="where_to_visit" class="form-control">
                  <option selected disabled>Where To Visit?</option>
                  <option value="hospital">Hospital</option>
                  <option value="clinic">Clinic</option>
                </select>
              </div>
              <div>
                <div class="form-group">
                  <textarea
                    formControlName="comment"
                    class="form-control"
                    id="comment"
                    rows="4"
                    placeholder="Comments:"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <h5>Select best time for appointment with time zone</h5>
              <p>*These time slots are based on the timezone Asia/Kolkata</p>
              <div class="row flex-column align-items-center">
                <div class="col-md-12 mb-4">
                  <div class="row">
                    <div
                      class="col-md-12 d-flex justify-content-center text-center mb-4"
                    >
                      <div class="form-check">
                        <div class="form-check-label">Select Date</div>
                        <input
                          formControlName="date"
                          style="
                            border-radius: 5px;
                            border-color: blueviolet;
                            padding: 10px;
                            width: 100%;
                            max-width: 170px;
                          "
                          type="date"
                          name=""
                          id=""
                        />
                      </div>
                    </div>

                    <div class="col-md-6 text-center mb-4">
                      <div class="form-check">
                        <div class="form-check-label">Start time</div>
                        <input
                          formControlName="startTime"
                          type="time"
                          class="time"
                        />
                        <!-- <label class="form-check-label" for="flexCheckChecked">
                          Checked checkbox
                        </label> -->
                      </div>
                    </div>
                    <div class="col-md-6 text-center">
                      <div class="form-check">
                        <div class="form-check-label">End time</div>
                        <input
                          formControlName="endTime"
                          type="time"
                          class="time"
                        />
                        <!-- <label class="form-check-label" for="flexCheckChecked">
                          Checked checkbox
                        </label> -->
                      </div>
                    </div>
                    <!-- <div class="col-md-3">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckChecked"
                          checked
                        />
                        <label class="form-check-label" for="flexCheckChecked">
                          Checked checkbox
                        </label>
                      </div>
                    </div> -->
                    <!-- <div class="col-md-3">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="flexCheckChecked"
                          checked
                        />
                        <label class="form-check-label" for="flexCheckChecked">
                          Checked checkbox
                        </label>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Main End -->
<!-- Footer Start -->
<app-footer></app-footer>
