<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Patients Name</label>
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Name"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Patients Age</label>
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Age"
  />
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"
    >Patients Phone Number</label
  >
  <input
    type="text"
    class="form-control"
    id="exampleFormControlInput1"
    placeholder="Number"
  />
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Visiting Reason</label
  >
  <textarea
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="3"
    placeholder="Please Write Visiting Reason"
  ></textarea>
</div>
