<div class="Alert_Div_Parent">
  <div class="Alert_Text_Parent_Div">
    <span class="Alert_Text"> Please Login First!!</span>
  </div>
  <div class="Alert_Icon_Parent_Div">
    <mat-icon class="Alert_Icon">error_outline</mat-icon>
  </div>
</div>

<ng-container *ngIf="FormsDialogBox"
  ><div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label"
      >Email address</label
    >
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Example textarea</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
  </div>
</ng-container>
