<!-- Main Start -->
<main id="dc-main" class="dc-main dc-haslayout">
  <!-- Contact Welcome Start -->

  <section class="dc-haslayout dc-main-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="dc-welcomecontent">
            <figure class="dc-welcomeimg">
              <img src="images/Contact-v2logo_06.png" alt="img description" />
            </figure>
            <div class="dc-title">
              <h3><span>Always Get In Touch</span>Our Contact Details</h3>
            </div>
            <div class="dc-description dc-paddingr">
              <p>
                Amet consectetur adipisicing eliteiuim sete eiuode tempor incint
                utoreas etnalom dolore maena aliqua udiminimate veniam quis
                norud exerciton ullamco laboris nisiquip commodo lokate.
              </p>
            </div>
            <div class="dc-contactinfo dc-floatclear">
              <ul>
                <li>
                  <span
                    ><span class="lnr lnr-location"></span>123 New Design
                    Street, Melbour Australia 54214</span
                  >
                </li>
                <li>
                  <span class="lnr lnr-envelope"></span>info@domainurl.com
                </li>
                <li>
                  <span class="lnr lnr-phone-handset"></span>(0800) 1234 567891
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 dc-map">
          <div id="dc-thememap" class="dc-thememap dc-thememapvtwo"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Welcome End -->
  <!-- Query Section Start -->
  <section
    class="dc-haslayout dc-main-section dc-bgqueryimg text-center dc-querycontent"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
          <div class="dc-sectionhead dc-sectionheadvtwo">
            <div class="dc-sectiontitle">
              <h2>Have A Query?<span>Ask For Free Online Help</span></h2>
            </div>
            <div class="dc-description">
              <p>
                Lorem ipsum dolor amet consectetur adipisicing eliteiuim sete
                eiusmod tempor incididunt ut labore etnalom dolore magna aliqua
                udiminimate veniam quis norud.
              </p>
            </div>
          </div>
          <div class="dc-btnarea d-flex justify-content-center">
            <a href="javascript:void(0);" class="dc-btn dc-btnactive"
              >View Questions</a
            >
            <a href="javascript:void(0);" class="dc-btn">Ask Your Question</a>
          </div>
          <figure class="dc-queryimg">
            <img src="images/phoneagain.png" alt="Image Description" />
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- Query Section End -->
  <!-- Say Hello Start -->
  <section class="dc-haslayout dc-main-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
          <div class="dc-sectionhead dc-text-center dc-pnone">
            <div class="dc-sectiontitle">
              <h2><span>Get in Touch with Us</span>Say <em>Hello To Us</em></h2>
            </div>
            <div class="dc-description">
              <p>
                Lorem ipsum dolor amet consectetur adipisicing eliteiuim sete
                eiusmod tempor incididunt ut labore etnalom dolore magna aliqua
                udiminimate veniam quis norud.
              </p>
            </div>
          </div>
          <div class="dc-form dc-floatclear dc-form-first">
            <form>
              <div class="form-row">
                <div class="form-group col-12 col-sm-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Name*"
                  />
                </div>
                <div class="form-group col-12 col-sm-6">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your Email*"
                  />
                </div>
              </div>
              <div class="form-group">
                <textarea
                  name="textarea"
                  placeholder="Type Your Query*"
                ></textarea>
              </div>
              <button class="btn dc-btns btn-block dc-btnactive" type="button">
                Send Now
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Emerging Clients End -->
  <!--Skills Start-->
  <section class="dc-haslayaout dc-footeraboutus dc-bgcolor">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetskills">
            <div class="dc-fwidgettitle">
              <h3>By Speciality</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Allergy Specialist</a></li>
              <li><a href="javascript:void(0);">Andrologist</a></li>
              <li><a href="javascript:void(0);">Anesthetist</a></li>
              <li><a href="javascript:void(0);">Audiologist</a></li>
              <li><a href="javascript:void(0);">Dietitian/Nutritionist</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetskill">
            <div class="dc-fwidgettitle">
              <h3>Doctors In US</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Laproscopic Surgeon</a></li>
              <li>
                <a href="javascript:void(0);">Oral And Maxillofacial Surgeon</a>
              </li>
              <li><a href="javascript:void(0);">Orthopedic Surgeon</a></li>
              <li>
                <a href="javascript:void(0);">Pediatric Cardiac Surgeon</a>
              </li>
              <li>
                <a href="javascript:void(0);">Pediatric Orthopedic Surgeon</a>
              </li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-footercol dc-widgetcategories">
            <div class="dc-fwidgettitle">
              <h3>By Categories</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Cosmetic Surgeon</a></li>
              <li><a href="javascript:void(0);">Eye Specialist</a></li>
              <li><a href="javascript:void(0);">Gastroenterologist</a></li>
              <li><a href="javascript:void(0);">General Physician</a></li>
              <li><a href="javascript:void(0);">General Practitioner</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetbylocation">
            <div class="dc-fwidgettitle">
              <h3>By Location</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Switzerland</a></li>
              <li><a href="javascript:void(0);">Canada</a></li>
              <li><a href="javascript:void(0);">Germany</a></li>
              <li><a href="javascript:void(0);">United Kingdom</a></li>
              <li><a href="javascript:void(0);">Japan</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Skills End-->
</main>
<!-- Main End -->
