<!-- Footer Start -->
<footer id="dc-footer" class="dc-footer dc-haslayout">
  <div class="dc-footertopbar">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
          <div class="dc-footer-call-email">
            <div class="dc-callinfoholder">
              <figure class="dc-callinfoimg">
                <!-- <img src="../assests/images/footer/phone-call.png" alt="img description" /> -->
                <i class="fa-solid fa-phone icons"></i>
              </figure>
              <div class="dc-callinfocontent">
                <h3>
                  <span>Emergency Call</span>
                  <a href="javascript:void(0);">+91 908765432</a>
                </h3>
              </div>
            </div>
            <div class="dc-callinfoholder dc-mailinfoholder">
              <figure class="dc-callinfoimg">
                <i class="fa-solid fa-envelope icons"></i>
              </figure>
              <div class="dc-callinfocontent">
                <h3>
                  <span>24/7 Email Support</span>
                  <a href="mailto:Info@domain.com">Info@medimact.com</a>
                </h3>
              </div>
            </div>
            <span class="dc-or-text">- OR -</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dc-fthreecolumns">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left">
          <div class="dc-fcol dc-widgetcontactus">
            <strong class="dc-logofooter"
              ><a href="index.html"><img src="" /></a
            ></strong>
            <div class="dc-footercontent">
              <div class="dc-description">
                <p>
                  Consult a doctor online on MedImpact for any health concern.
                  Our pool of over 20,000 trusted doctors across 25+ specialties
                  will ensure all your health queries are answered. You can get
                  online dr advice from a Psychiatrist, Dermatologist,
                  Gynecologist, Sexologist, Pediatrician, Cardiologist,
                  Neurologist, Gastroenterologist, Urologist, Endocrinologist,
                  Dentist, Psychologist, and many more.
                </p>
              </div>
              <ul class="dc-footercontactus">
                <li>
                  <address>
                    <i class="lnr lnr-location"></i> 123 New GGITS, Tilwara Road
                    location Jabalpur 482002
                  </address>
                </li>
                <li>
                  <a href="javascript:void(0)"
                    ><i class="lnr lnr-envelope"></i> info@medimpact.com</a
                  >
                </li>
                <li>
                  <span
                    ><i class="lnr lnr-phone-handset"></i> +91 908765432</span
                  >
                </li>
              </ul>
              <div class="dc-fsocialicon">
                <ul class="dc-simplesocialicons">
                  <li class="dc-facebook">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="dc-twitter">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="dc-linkedin">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li class="dc-googleplus">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                  <li class="dc-rss">
                    <a href="javascript:void(0);"><i class="fas fa-rss"></i></a>
                  </li>
                  <li class="dc-youtube">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-youtube"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="dc-fcol dc-flatestad">
            <div class="dc-ftitle"><h3>MedImpact Square</h3></div>
            <div class="dc-footercontent">
              <ul class="dc-livefeeddetails">
                <li>
                  <!-- <figure class="dc-latestadimg">
                    <img src="" alt="img description" />
                  </figure> -->
                  <div class="dc-latestadcontent">
                    <p>
                      Sajal Tiwari, Frontend Square
                      <br />

                      <a href="https://github.com/Anonymous7code">GitHub</a>
                      <span></span>
                    </p>
                  </div>
                </li>
                <li>
                  <!-- <figure class="dc-latestadimg">
                    <img src="" alt="img description" />
                  </figure> -->
                  <div class="dc-latestadcontent">
                    <p>
                      Rajul Verma, FullStack
                      <br />

                      <a href="https://github.com/XtremyS">GitHub</a>
                      <span></span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 float-left">
          <div class="dc-fcol dc-flatestad">
            <div class="dc-ftitle"><h3>MedImpact Square</h3></div>
            <div class="dc-footercontent">
              <ul class="dc-livefeeddetails">
                <li>
                  <!-- <figure class="dc-latestadimg">
                    <img src="" alt="img description" />
                  </figure> -->
                  <div class="dc-latestadcontent">
                    <p>
                      Yameesh Jain, UX/UI Square
                      <br />
                      <a href="https://github.com/Anonymous7code">GitHub</a>
                      <span></span>
                    </p>
                  </div>
                </li>
                <li>
                  <!-- <figure class="dc-latestadimg">
                    <img src="" alt="img description" />
                  </figure> -->
                  <div class="dc-latestadcontent">
                    <p>
                      Auchitya Rai, Backend Square
                      <br />
                      <a href="https://github.com/AuchityaRay">GitHub</a>
                      <span></span>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dc-footerbottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          <p class="dc-copyright">
            Copyrights © {{ CopyRightYear }}
            <a style="text-decoration: none" href="#" target="_blank"
              >MedImpact</a
            >
            All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
