<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card">
          <h4 class="card-header p-4">Appointments</h4>

          <div class="p-4 table-responsive">
            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Who Is Visiting To Doctor?</th>
                  <th scope="col">Comments</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time Slots</th>
                  <th scope="col">Status</th>
                  <ng-container *ngFor="let data; of">
                    <th scope="col" *ngIf="data.status == 1">Payment</th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data; of">
                  <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.mobile }}</td>
                    <td>{{ data.who_is_visiting }}</td>
                    <td>{{ data.comment }}</td>
                    <td>{{ data.date }}</td>
                    <td>
                      Start Time {{ data.startTime }} | End Time{{
                        data.endTime
                      }}
                    </td>

                    <td *ngIf="data.status == 1" class="text-success">
                      Confirmed
                    </td>
                    <td *ngIf="data.status == 1">
                      <button
                        class="btn-sm btn-outline-primary"
                        (click)="pay(data)"
                      >
                        Pay
                      </button>
                      <div *ngIf="IsPaid" class="text-success">Paid</div>
                    </td>

                    <td *ngIf="data.status == 2" class="text-warning">
                      Pending
                    </td>
                    <td *ngIf="data.status == 0" class="text-danger">
                      Canceled
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
