<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card border-0">
            <h4 class="card-header p-4">Manage Services</h4>

            <div class="card-body">
              <h4 class="card-title d-flex justify-content-between">
                Offered Services<a
                  href="#"
                  class="btn btn-rounded btn-sm btn-primary"
                  >Add New</a
                >
              </h4>

              <form class="forms-sample p-4">
                <div
                  class="form-group d-flex justify-content-between align-items-center"
                >
                  <div class="form-group mb-0 mr-3" style="width: 100%">
                    <select class="form-control">
                      <option>MRI</option>
                      <option>ECG</option>
                      <option>Pathology</option>
                      <option>PFT</option>
                    </select>
                  </div>
                  <div>
                    <a
                      href="#"
                      style="border-radius: 5px; padding: 15px"
                      class="btn btn-danger mr-3"
                      ><i class="ti-trash"></i
                    ></a>
                  </div>
                  <a
                    href="#"
                    style="border-radius: 5px"
                    class="btn btn-sm btn-primary"
                    >Add Services</a
                  >
                </div>

                <div class="accordian-container">
                  <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                      <h2
                        class="accordion-header"
                        id="panelsStayOpen-headingOne"
                      >
                        <button
                          class="accordion-button justify-content-between"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#panelsStayOpen-collapseOne"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseOne"
                        >
                          Dry Film D12
                          <div
                            class="d-flex align-items-center edit-acc-container"
                          >
                            <div class="mr-2">
                              <h4 style="margin-bottom: 0px">&#8377;3.000</h4>
                            </div>
                            <a
                              href="#"
                              style="border-radius: 5px; padding: 7px"
                              class="btn btn-success mx-1"
                              ><i class="ti-pencil-alt"></i
                            ></a>
                            <a
                              href="#"
                              style="border-radius: 5px; padding: 7px"
                              class="btn btn-danger mx-1"
                              ><i class="ti-trash"></i
                            ></a>
                          </div>
                        </button>
                      </h2>
                      <div
                        id="panelsStayOpen-collapseOne"
                        class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne"
                      >
                        <div
                          class="accordion-body d-flex justify-content-between"
                        >
                          <div class="form-group mb-0 mr-3" style="width: 50%">
                            <select class="form-control">
                              <option>MRI</option>
                              <option>ECG</option>
                              <option>Pathology</option>
                              <option>PFT</option>
                            </select>
                          </div>
                          <div style="width: 50%" class="form-group mb-0 ml-3">
                            <input
                              type="text"
                              class="form-control"
                              id="exampleInputUsername1"
                              placeholder="Rs"
                            />
                          </div>
                        </div>
                        <div class="form-group p-4">
                          <textarea
                            placeholder="Description"
                            class="form-control"
                            id="exampleTextarea1"
                            rows="4"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                      <button
                        class="accordion-button collapsed justify-content-between"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                      >
                        MRI BRAIN + SPECTROSCOPY
                        <div
                          class="d-flex align-items-center"
                          style="flex-wrap: wrap"
                        >
                          <div class="mr-2">
                            <h4 style="margin-bottom: 0px">&#8377;3.000</h4>
                          </div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 7px"
                            class="btn btn-success mx-1"
                            ><i class="ti-pencil-alt"></i
                          ></a>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 7px"
                            class="btn btn-danger mx-1"
                            ><i class="ti-trash"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseTwo"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingTwo"
                    >
                      <div class="accordion-body">
                        <div
                          class="accordion-body d-flex justify-content-between"
                        >
                          <div class="form-group mb-0 mr-3" style="width: 50%">
                            <select class="form-control">
                              <option>MRI</option>
                              <option>ECG</option>
                              <option>Pathology</option>
                              <option>PFT</option>
                            </select>
                          </div>
                          <div style="width: 50%" class="form-group mb-0 ml-3">
                            <input
                              type="text"
                              class="form-control"
                              id="exampleInputUsername1"
                              placeholder="Rs"
                            />
                          </div>
                        </div>
                        <div class="form-group p-4">
                          <textarea
                            placeholder="Description"
                            class="form-control"
                            id="exampleTextarea1"
                            rows="4"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2
                      class="accordion-header"
                      id="panelsStayOpen-headingThree"
                    >
                      <button
                        class="accordion-button collapsed justify-content-between"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                      >
                        Service title
                        <div class="d-flex align-items-center">
                          <div class="mr-2">
                            <h4 style="margin-bottom: 0px">&#8377;3.000</h4>
                          </div>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 7px"
                            class="btn btn-success mx-1"
                            ><i class="ti-pencil-alt"></i
                          ></a>
                          <a
                            href="#"
                            style="border-radius: 5px; padding: 7px"
                            class="btn btn-danger mx-1"
                            ><i class="ti-trash"></i
                          ></a>
                        </div>
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseThree"
                      class="accordion-collapse collapse"
                      aria-labelledby="panelsStayOpen-headingThree"
                    >
                      <div class="accordion-body">
                        <div
                          class="accordion-body d-flex justify-content-between"
                        >
                          <div class="form-group mb-0 mr-3" style="width: 50%">
                            <select class="form-control">
                              <option>MRI</option>
                              <option>ECG</option>
                              <option>Pathology</option>
                              <option>PFT</option>
                            </select>
                          </div>
                          <div style="width: 50%" class="form-group mb-0 ml-3">
                            <input
                              type="text"
                              class="form-control"
                              id="exampleInputUsername1"
                              placeholder="Rs"
                            />
                          </div>
                        </div>
                        <div class="form-group p-4">
                          <textarea
                            placeholder="Description"
                            class="form-control"
                            id="exampleTextarea1"
                            rows="4"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
