<!-- Main Start -->
<main id="dc-main" class="dc-main dc-haslayout">
  <!-- About Welcome Start -->
  <section class="dc-main-section dc-haslayout">
    <div class="container">
      <div class="row">
        <div class="dc-aboutstep">
          <div
            class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-10 push-lg-1 float-left"
          >
            <div class="dc-sectionhead dc-sectionheadvtwo">
              <div class="dc-sectiontitle">
                <h2>
                  Make a Smart Choice<span
                    >Take a Right Step For Your Life</span
                  >
                </h2>
              </div>
              <div class="dc-description">
                <p>
                  Lorem ipsum dolor ametei consectetur adipisicing eliteiuim
                  sete eiusmod tempor incididunt ut labore etnalom dolore magna
                  aliqua udiminimate veniam quis norud exercitation ullamco.
                </p>
              </div>
            </div>
          </div>
          <div class="dc-welcome-holder">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 float-left">
              <div class="dc-welcomecontent">
                <figure class="dc-welcomeimg">
                  <img src="../../../assets/images/icon-imgs/img-01.jpg" alt="img description" />
                </figure>
                <div class="dc-title">
                  <h3><span>Search Best Online</span>Professional</h3>
                </div>
                <div class="dc-description">
                  <p>
                    Amet consectetur adipisicing eliteiuim sete eiuode tempor
                    incididunt utoreas etnalom dolore maena aliqua udiminimate
                    veniam.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 float-left">
              <div class="dc-welcomecontent">
                <figure class="dc-welcomeimg">
                  <img src="../../../assets/images/icon-imgs/img-02.jpg" alt="img description" />
                </figure>
                <div class="dc-title">
                  <h3><span>Get Instant</span>Appointment</h3>
                </div>
                <div class="dc-description">
                  <p>
                    Amet consectetur adipisicing eliteiuim sete eiuode tempor
                    incididunt utoreas etnalom dolore maena aliqua udiminimate
                    veniam.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 float-left">
              <div class="dc-welcomecontent">
                <figure class="dc-welcomeimg">
                  <img src="../../../assets/images/icon-imgs/img-03.jpg" alt="img description" />
                </figure>
                <div class="dc-title">
                  <h3><span>Leave Your</span>Feedback</h3>
                </div>
                <div class="dc-description">
                  <p>
                    Amet consectetur adipisicing eliteiuim sete eiuode tempor
                    incididunt utoreas etnalom dolore maena aliqua udiminimate
                    veniam.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Welcome End !-->
  <!-- Works Section Start -->
  <section class="dc-haslayout">
    <div class="dc-haslayout dc-bgcolor dc-main-section dc-workholder"></div>
    <div class="dc-haslayout dc-main-section dc-workdetails-holder">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="dc-workdetails">
              <div class="dc-workdetail">
                <figure>
                  <img
                    src="../../../assets/images/icon-imgs/img-01.jpg"
                    alt="img description"
                  />
                </figure>
              </div>
              <div class="dc-title">
                <span>Search Best Online</span>
                <h3><a href="javascript:void(0);">Professional</a></h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="dc-workdetails dc-workdetails-border">
              <div class="dc-workdetail">
                <figure>
                  <img
                    src="../../../assets/images/icon-imgs/img-02.jpg"
                    alt="img description"
                  />
                </figure>
              </div>
              <div class="dc-title">
                <span>SGet Instant</span>
                <h3><a href="javascript:void(0);">Appointment</a></h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="dc-workdetails dc-workdetails-bordertwo">
              <div class="dc-workdetail">
                <figure>
                  <img
                    src="../../../assets/images/icon-imgs/img-03.jpg"
                    alt="img description"
                  />
                </figure>
              </div>
              <div class="dc-title">
                <span>Leave Your</span>
                <h3><a href="javascript:void(0);">Feedback</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Works Section End -->
  <!-- Our Team Start -->
  <section class="dc-haslayout dc-main-section">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-8 push-lg-2">
          <div class="dc-sectionhead dc-text-center">
            <div class="dc-sectiontitle">
              <h2><span>Talent Behind Curtain</span>Meet <em>Our Team</em></h2>
            </div>
            <div class="dc-description">
              <p>
                Lorem ipsum dolor amet consectetur adipisicing eliteiuim sete
                eiusmod tempor incididunt ut labore etnalom dolore magna aliqua
                udiminimate veniam quis norud.
              </p>
            </div>
          </div>
        </div>
        <div class="dc-ourteamholder">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <div class="dc-ourteam">
              <figure class="dc-ourteamimg">
                <img src="../../../assets/images/articles/img-01.jpg" alt="img description" />
              </figure>
              <div class="dc-ourteamcontent">
                <div class="dc-title">
                  <a href="javascript:void(0)">Founder, C.E.O</a>
                  <h3><a href="javascript:void(0);">Maryland Nicolosi</a></h3>
                </div>
                <ul class="dc-simplesocialicons dc-socialiconsborder">
                  <li class="dc-facebook">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="dc-twitter">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="dc-linkedin">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li class="dc-googleplus">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                  <li class="dc-youtube">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-youtube"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <div class="dc-ourteam">
              <figure class="dc-ourteamimg">
                <img src="../../../assets/images/articles/img-02.jpg" alt="img description" />
              </figure>
              <div class="dc-ourteamcontent">
                <div class="dc-title">
                  <a href="javascript:void(0)">Marketing Manager</a>
                  <h3>
                    <a href="javascript:void(0);">Lawerence Scarborough</a>
                  </h3>
                </div>
                <ul class="dc-simplesocialicons dc-socialiconsborder">
                  <li class="dc-facebook">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="dc-twitter">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="dc-linkedin">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li class="dc-googleplus">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                  <li class="dc-youtube">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-youtube"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 float-left">
            <div class="dc-ourteam">
              <figure class="dc-ourteamimg">
                <img src="../../../assets/images/articles/img-03.jpg" alt="img description" />
              </figure>
              <div class="dc-ourteamcontent">
                <div class="dc-title">
                  <a href="javascript:void(0)">Administrator</a>
                  <h3><a href="javascript:void(0);">Lucien Grindstaff</a></h3>
                </div>
                <ul class="dc-simplesocialicons dc-socialiconsborder">
                  <li class="dc-facebook">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li class="dc-twitter">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li class="dc-linkedin">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </li>
                  <li class="dc-googleplus">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-google-plus-g"></i
                    ></a>
                  </li>
                  <li class="dc-youtube">
                    <a href="javascript:void(0);"
                      ><i class="fab fa-youtube"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Team End -->
  <!-- Testimonials Slider Start-->
  <section
    class="dc-testimonials-holder dc-haslayout dc-main-section dc-bgcolor"
  >
    <div class="dc-testimonials">
      <div class="container">
        <div class="row justify-content-center align-self-center">
          <div
            class="col-xs-12 col-sm-12 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2"
          >
            <div class="dc-testimonials-head">
              <div class="dc-heart">
                <span class="dc-hearticon"><i class="lnr lnr-heart"></i></span>
              </div>
              <div class="dc-title">
                <h3>Sweet Feedback<span>From Our Clients</span></h3>
              </div>
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2"
          >
            <div class="dc-customerfeedbacks">
              <div id="dc-authorpicslider" class="slider-nav center">
                <div>
                  <figure class="dc-slide">
                    <img
                      src="../../../assets/images/testimonials/img-01.jpg"
                      alt="image description"
                    />
                  </figure>
                </div>
                <div>
                  <figure class="dc-slide">
                    <img
                      src="../../../assets/images/testimonials/img-01.jpg"
                      alt="image description"
                    />
                  </figure>
                </div>
                <div>
                  <figure class="dc-slide">
                    <img
                      src="../../../assets/images/testimonials/img-01.jpg"
                      alt="image description"
                    />
                  </figure>
                </div>
                <div>
                  <figure class="dc-slide">
                    <img
                      src="../../../assets/images/testimonials/img-01.jpg"
                      alt="image description"
                    />
                  </figure>
                </div>
              </div>
              <div
                id="dc-feedbackslider"
                class="dc-feedbackslider slider-single"
              >
                <div class="dc-testimonialscontent">
                  <div class="dc-description">
                    <blockquote>
                      <q
                        >Consectetur adipisicing eliteiuim sete eiusmod tempor
                        incididunt labore etnalom dolore magna
                        <span>aliqua udiminimate</span> veniam quis norud.</q
                      >
                    </blockquote>
                  </div>
                  <div class="dc-title">
                    <span>Client</span>
                    <h3>Sharan Jansson</h3>
                  </div>
                </div>
                <div class="dc-testimonialscontent">
                  <div class="dc-description">
                    <blockquote>
                      <q
                        >Consectetur adipisicing eliteiuim sete eiusmod tempor
                        incididunt labore etnalom dolore magna
                        <span>aliqua udiminimate</span> veniam quis norud.</q
                      >
                    </blockquote>
                  </div>
                  <div class="dc-title">
                    <span>Client</span>
                    <h3>Sharan Jansson</h3>
                  </div>
                </div>
                <div class="dc-testimonialscontent">
                  <div class="dc-description">
                    <blockquote>
                      <q
                        >Consectetur adipisicing eliteiuim sete eiusmod tempor
                        incididunt labore etnalom dolore magna
                        <span>aliqua udiminimate</span> veniam quis norud.</q
                      >
                    </blockquote>
                  </div>
                  <div class="dc-title">
                    <span>Client</span>
                    <h3>Sharan Jansson</h3>
                  </div>
                </div>
                <div class="dc-testimonialscontent">
                  <div class="dc-description">
                    <blockquote>
                      <q
                        >Consectetur adipisicing eliteiuim sete eiusmod tempor
                        incididunt labore etnalom dolore magna
                        <span>aliqua udiminimate</span> veniam quis norud.</q
                      >
                    </blockquote>
                  </div>
                  <div class="dc-title">
                    <span>Client</span>
                    <h3>Sharan Jansson</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonials Slider End -->
  <!-- Emerging Clients Start -->
  <section class="dc-haslayout dc-main-section">
    <div class="container">
      <div class="row justify-content-center align-self-center">
        <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-8 push-lg-2">
          <div class="dc-sectionhead dc-text-center">
            <div class="dc-sectiontitle">
              <h2>
                <span>We Are Proud of Our Clients</span>Emerging
                <em>Clients</em>
              </h2>
            </div>
            <div class="dc-description">
              <p>
                Lorem ipsum dolor amet consectetur adipisicing eliteiuim sete
                eiusmod tempor incididunt ut labore etnalom dolore magna aliqua
                udiminimate veniam quis norud.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
          <div class="dc-clientslogo">
            <ul>
              <li>
                <a href="javascript:void(0);"
                  ><img
                    src="../../../assets/images/testimonials/img-05.png"
                    alt="img description"
                /></a>
              </li>
              <li>
                <a href="javascript:void(0);"
                  ><img
                    src="../../../assets/images/testimonials/img-06.png"
                    alt="img description"
                /></a>
              </li>
              <li>
                <a href="javascript:void(0);"
                  ><img
                    src="../../../assets/images/testimonials/img-07.png"
                    alt="img description"
                /></a>
              </li>
              <li>
                <a href="javascript:void(0);"
                  ><img
                    src="../../../assets/images/testimonials/img-08.png"
                    alt="img description"
                /></a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Emerging Clients End -->
  <!--Skills Start-->
  <section class="dc-haslayaout dc-footeraboutus dc-bgcolor">
    <div class="container"> 
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetskills">
            <div class="dc-fwidgettitle">
              <h3>By Speciality</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Allergy Specialist</a></li>
              <li><a href="javascript:void(0);">Andrologist</a></li>
              <li><a href="javascript:void(0);">Anesthetist</a></li>
              <li><a href="javascript:void(0);">Audiologist</a></li>
              <li><a href="javascript:void(0);">Dietitian/Nutritionist</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetskill">
            <div class="dc-fwidgettitle">
              <h3>Doctors In US</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Laproscopic Surgeon</a></li>
              <li>
                <a href="javascript:void(0);">Oral And Maxillofacial Surgeon</a>
              </li>
              <li><a href="javascript:void(0);">Orthopedic Surgeon</a></li>
              <li>
                <a href="javascript:void(0);">Pediatric Cardiac Surgeon</a>
              </li>
              <li>
                <a href="javascript:void(0);">Pediatric Orthopedic Surgeon</a>
              </li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-footercol dc-widgetcategories">
            <div class="dc-fwidgettitle">
              <h3>By Categories</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Cosmetic Surgeon</a></li>
              <li><a href="javascript:void(0);">Eye Specialist</a></li>
              <li><a href="javascript:void(0);">Gastroenterologist</a></li>
              <li><a href="javascript:void(0);">General Physician</a></li>
              <li><a href="javascript:void(0);">General Practitioner</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
          <div class="dc-widgetbylocation">
            <div class="dc-fwidgettitle">
              <h3>By Location</h3>
            </div>
            <ul class="dc-fwidgetcontent">
              <li><a href="javascript:void(0);">Switzerland</a></li>
              <li><a href="javascript:void(0);">Canada</a></li>
              <li><a href="javascript:void(0);">Germany</a></li>
              <li><a href="javascript:void(0);">United Kingdom</a></li>
              <li><a href="javascript:void(0);">Japan</a></li>
              <li class="dc-viewmore">
                <a href="javascript:void(0);">View All</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Skills End-->
</main>
<!-- Main End -->
