.country-dropdown {
  color: #999;
  outline: none;
  height: 50px;
  background: #fff;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 18px;
  padding: 0 20px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #eee;
  text-transform: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.address-area {
  color: #999;
  outline: none;
  height: 150px;
  background: #fff;
  font-size: 14px;
  box-shadow: none;
  line-height: 18px;
  padding: 15px 20px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #eee;
  text-transform: inherit;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
