<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card">
          <h4 class="card-header p-4">Manage Test</h4>

          <div class="p-4 table-responsive">
            <form [formGroup]="">
              <div class="row mb-5 align-items-center">
                <div class="col-md-3 mb-3">
                  <input
                    formControlName="test_name"
                    type="text"
                    placeholder="Test Name"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3">
                  <input
                    formControlName="test_desc"
                    type="email"
                    placeholder="Test Description"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3">
                  <input
                    formControlName="test_price"
                    type="text"
                    placeholder="Test Price (INR)"
                    class="form-control"
                  />
                </div>
                <div class="col-md-3 mb-3">
                  <button class="btn-sm btn-success options-btns"></button>
                </div>
              </div>
            </form>

            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">Test Name</th>
                  <th scope="col">Test Description</th>
                  <th scope="col">Test Price</th>
                  <th scope="col">Options</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let data; of">
                  <tr>
                    <td>{{ data.test_name }}</td>
                    <td>{{ data.test_desc }}</td>
                    <td>{{ data.test_price }}</td>
                    <td>
                      <button
                        (click)="EditTests(data)"
                        class="btn-sm btn-success options-btns"
                      >
                        Edit
                      </button>

                      <button
                        (click)="DeleteTests(data.id)"
                        class="btn-sm btn-danger options-btns"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
